In [2]:
import pandas as pd

In [4]:
file_path = 'https://raw.githubusercontent.com/spaceforglory/OPENSOURCEUAS/main/country_wise_latest.csv'
cwl_df = pd.read_csv(file_path)
cwl_df.head()

,Country/Region,Confirmed,Deaths,Recovered,Active,New cases,New deaths,New recovered,Deaths / 100 Cases,Recovered / 100 Cases,Deaths / 100 Recovered,Confirmed last week,1 week change,1 week % increase,WHO Region
0,Afghanistan,36263,1269,25198,9796,106,10,18,3.50,69.49,5.04,35526,737,2.07,Eastern Mediterranean
1,Albania,4880,144,2745,1991,117,6,63,2.95,56.25,5.25,4171,709,17.00,Europe
2,Algeria,27973,1163,18837,7973,616,8,749,4.16,67.34,6.17,23691,4282,18.07,Africa
3,Andorra,907,52,803,52,10,0,0,5.73,88.53,6.48,884,23,2.60,Europe
4,Angola,950,41,242,667,18,1,0,4.32,25.47,16.94,749,201,26.84,Africa

In [5]:
cwl_df.shape

(187, 15)

In [6]:
cwl_df.columns

Index(['Country/Region', 'Confirmed', 'Deaths', 'Recovered', 'Active',
       'New cases', 'New deaths', 'New recovered', 'Deaths / 100 Cases',
       'Recovered / 100 Cases', 'Deaths / 100 Recovered',
       'Confirmed last week', '1 week change', '1 week % increase',
       'WHO Region'],
      dtype='object')

In [7]:
cwl_df.describe()

,Confirmed,Deaths,Recovered,Active,New cases,New deaths,New recovered,Deaths / 100 Cases,Recovered / 100 Cases,Deaths / 100 Recovered,Confirmed last week,1 week change,1 week % increase
count,1.870000e+02,187.000000,1.870000e+02,1.870000e+02,187.000000,187.000000,187.000000,187.000000,187.000000,187.00,1.870000e+02,187.000000,187.000000
mean,8.813094e+04,3497.518717,5.063148e+04,3.400194e+04,1222.957219,28.957219,933.812834,3.019519,64.820535,inf,7.868248e+04,9448.459893,13.606203
std,3.833187e+05,14100.002482,1.901882e+05,2.133262e+05,5710.374790,120.037173,4197.719635,3.454302,26.287694,NaN,3.382737e+05,47491.127684,24.509838
min,1.000000e+01,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.00,1.000000e+01,-47.000000,-3.840000
25%,1.114000e+03,18.500000,6.265000e+02,1.415000e+02,4.000000,0.000000,0.000000,0.945000,48.770000,1.45,1.051500e+03,49.000000,2.775000
50%,5.059000e+03,108.000000,2.815000e+03,1.600000e+03,49.000000,1.000000,22.000000,2.150000,71.320000,3.62,5.020000e+03,432.000000,6.890000
75%,4.046050e+04,734.000000,2.260600e+04,9.149000e+03,419.500000,6.000000,221.000000,3.875000,86.885000,6.44,3.708050e+04,3172.000000,16.855000
max,4.290259e+06,148011.000000,1.846641e+06,2.816444e+06,56336.000000,1076.000000,33728.000000,28.560000,100.000000,inf,3.834677e+06,455582.000000,226.320000

In [9]:
cwl_df.describe().loc['max', 'Deaths']

148011.0

In [10]:
cwl_df.describe()['Recovered']['max']

1846641.0

In [11]:
cwl_df = housing_df.dropna()

In [12]:
cwl_df.shape

(187, 15)

In [13]:
y = cwl_df['Confirmed']
y

0      36263
1       4880
2      27973
3        907
4        950
       ...
182    10621
183       10
184     1691
185     4552
186     2704
Name: Confirmed, Length: 187, dtype: int64

In [16]:
features = ['Deaths', 'Recovered', 'Active']
X = cwl_df[features]
X

     Deaths  Recovered  Active
0      1269      25198    9796
1       144       2745    1991
2      1163      18837    7973
3        52        803      52
4        41        242     667
..      ...        ...     ...
182      78       3752    6791
183       1          8       1
184     483        833     375
185     140       2815    1597
186      36        542    2126

[187 rows x 3 columns]

In [17]:
X.describe()

              Deaths     Recovered        Active
count     187.000000  1.870000e+02  1.870000e+02
mean     3497.518717  5.063148e+04  3.400194e+04
std     14100.002482  1.901882e+05  2.133262e+05
min         0.000000  0.000000e+00  0.000000e+00
25%        18.500000  6.265000e+02  1.415000e+02
50%       108.000000  2.815000e+03  1.600000e+03
75%       734.000000  2.260600e+04  9.149000e+03
max    148011.000000  1.846641e+06  2.816444e+06

In [18]:
from sklearn.tree import DecisionTreeRegressor

In [19]:
housing_model = DecisionTreeRegressor(random_state=1)

In [20]:
housing_model.fit(X, y)

DecisionTreeRegressor(random_state=1)

In [21]:
housing_model.predict(X.head())

array([36263.,  4880., 27973.,   907.,   950.])

In [22]:
X.head()

   Deaths  Recovered  Active
0    1269      25198    9796
1     144       2745    1991
2    1163      18837    7973
3      52        803      52
4      41        242     667

In [23]:
y.head()

0    36263
1     4880
2    27973
3      907
4      950
Name: Confirmed, dtype: int64

In [24]:
import numpy as np
np.random.seed(0)

for _ in range(10):
    print(np.random.randint(10))

5
0
3
3
7
9
3
5
2
4

In [25]:
from sklearn.metrics import mean_absolute_error

In [26]:
y_hat = housing_model.predict(X)
mean_absolute_error(y, y_hat)

0.0

In [27]:
from sklearn.model_selection import train_test_split

In [28]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1, train_size=0.7)

In [29]:
housing_model = DecisionTreeRegressor(random_state=1)
housing_model.fit(X_train, y_train)

DecisionTreeRegressor(random_state=1)

In [30]:
y_hat = housing_model.predict(X_test)
mean_absolute_error(y_test, y_hat)

16028.59649122807

In [31]:
def get_mae(max_leaf_nodes, X_train, X_test, y_train, y_test):
    model = DecisionTreeRegressor(max_leaf_nodes=max_leaf_nodes, random_state=0)
    model.fit(X_train, y_train)
    y_hat = model.predict(X_test)
    mae = mean_absolute_error(y_test, y_hat)
    return mae

In [32]:
for max_leaf_nodes in [5, 50, 500, 5000]:
    leaf_mae = get_mae(max_leaf_nodes, X_train, X_test, y_train, y_test)
    print(f'Max leaf nodes: {max_leaf_nodes} \t Mean Absolute Error: {int(leaf_mae)}')

Max leaf nodes: 5 	 Mean Absolute Error: 37669
Max leaf nodes: 50 	 Mean Absolute Error: 17255
Max leaf nodes: 500 	 Mean Absolute Error: 17053
Max leaf nodes: 5000 	 Mean Absolute Error: 17053

In [33]:
from sklearn.ensemble import RandomForestRegressor

In [34]:
rf_model = RandomForestRegressor(n_estimators=100, random_state=1)
rf_model.fit(X_train, y_train)
y_hat = rf_model.predict(X_test)
print(f'Mean Absolute Error: {int(mean_absolute_error(y_test, y_hat))}')

Mean Absolute Error: 15682