In [1]:
import pandas as pd

In [2]:
file_path = 'https://raw.githubusercontent.com/spaceforglory/OPENSOURCEUAS/main/covid_19_clean_complete.csv'
ccc_df = pd.read_csv(file_path)
ccc_df.head()

,Province/State,Country/Region,Lat,Long,Date,Confirmed,Deaths,Recovered,Active,WHO Region
0,NaN,Afghanistan,33.93911,67.709953,2020-01-22,0,0,0,0,Eastern Mediterranean
1,NaN,Albania,41.15330,20.168300,2020-01-22,0,0,0,0,Europe
2,NaN,Algeria,28.03390,1.659600,2020-01-22,0,0,0,0,Africa
3,NaN,Andorra,42.50630,1.521800,2020-01-22,0,0,0,0,Europe
4,NaN,Angola,-11.20270,17.873900,2020-01-22,0,0,0,0,Africa

In [3]:
ccc_df.shape

(49068, 10)

In [4]:
ccc_df.columns

Index(['Province/State', 'Country/Region', 'Lat', 'Long', 'Date', 'Confirmed',
       'Deaths', 'Recovered', 'Active', 'WHO Region'],
      dtype='object')

In [5]:
ccc_df.describe()

,Lat,Long,Confirmed,Deaths,Recovered,Active
count,49068.000000,49068.000000,4.906800e+04,49068.000000,4.906800e+04,4.906800e+04
mean,21.433730,23.528236,1.688490e+04,884.179160,7.915713e+03,8.085012e+03
std,24.950320,70.442740,1.273002e+05,6313.584411,5.480092e+04,7.625890e+04
min,-51.796300,-135.000000,0.000000e+00,0.000000,0.000000e+00,-1.400000e+01
25%,7.873054,-15.310100,4.000000e+00,0.000000,0.000000e+00,0.000000e+00
50%,23.634500,21.745300,1.680000e+02,2.000000,2.900000e+01,2.600000e+01
75%,41.204380,80.771797,1.518250e+03,30.000000,6.660000e+02,6.060000e+02
max,71.706900,178.065000,4.290259e+06,148011.000000,1.846641e+06,2.816444e+06

In [6]:
ccc_df.describe().loc['max', 'Deaths']

148011.0

In [7]:
ccc_df.describe()['Recovered']['max']

1846641.0

In [9]:
ccc_df = ccc_df.dropna()

In [10]:
ccc_df.shape

(14664, 10)

In [12]:
y = ccc_df['Confirmed']
y

8         0
9         0
10        0
11        0
12        0
         ..
49052     3
49053     8
49054    99
49059    13
49060     4
Name: Confirmed, Length: 14664, dtype: int64

In [13]:
features = ['Deaths', 'Recovered', 'Active']
X = ccc_df[features]
X

       Deaths  Recovered  Active
8           0          0       0
9           0          0       0
10          0          0       0
11          0          0       0
12          0          0       0
...       ...        ...     ...
49052       0          3       0
49053       1          7       0
49054       2         36      61
49059       0         13       0
49060       0          1       3

[14664 rows x 3 columns]

In [14]:
X.describe()

             Deaths     Recovered        Active
count  14664.000000  14664.000000  14664.000000
mean      95.505046    865.607679    756.591721
std      589.281516   6195.703246   4719.014122
min        0.000000      0.000000    -14.000000
25%        0.000000      0.000000      0.000000
50%        1.000000     27.000000      4.000000
75%        6.000000    234.000000     59.000000
max     5667.000000  64435.000000  53061.000000

In [15]:
from sklearn.tree import DecisionTreeRegressor

In [16]:
housing_model = DecisionTreeRegressor(random_state=1)

In [17]:
housing_model.fit(X, y)

DecisionTreeRegressor(random_state=1)

In [18]:
housing_model.predict(X.head())

array([0., 0., 0., 0., 0.])

In [19]:
X.head()

    Deaths  Recovered  Active
8        0          0       0
9        0          0       0
10       0          0       0
11       0          0       0
12       0          0       0

In [20]:
y.head()

8     0
9     0
10    0
11    0
12    0
Name: Confirmed, dtype: int64

In [21]:
import numpy as np
np.random.seed(0)

for _ in range(10):
    print(np.random.randint(10))

5
0
3
3
7
9
3
5
2
4

In [22]:
from sklearn.metrics import mean_absolute_error

In [23]:
y_hat = housing_model.predict(X)
mean_absolute_error(y, y_hat)

0.0

In [24]:
from sklearn.model_selection import train_test_split

In [25]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1, train_size=0.7)

In [26]:
housing_model = DecisionTreeRegressor(random_state=1)
housing_model.fit(X_train, y_train)

DecisionTreeRegressor(random_state=1)

In [27]:
y_hat = housing_model.predict(X_test)
mean_absolute_error(y_test, y_hat)

9.770454545454545

In [28]:
def get_mae(max_leaf_nodes, X_train, X_test, y_train, y_test):
    model = DecisionTreeRegressor(max_leaf_nodes=max_leaf_nodes, random_state=0)
    model.fit(X_train, y_train)
    y_hat = model.predict(X_test)
    mae = mean_absolute_error(y_test, y_hat)
    return mae

In [29]:
for max_leaf_nodes in [5, 50, 500, 5000]:
    leaf_mae = get_mae(max_leaf_nodes, X_train, X_test, y_train, y_test)
    print(f'Max leaf nodes: {max_leaf_nodes} \t Mean Absolute Error: {int(leaf_mae)}')

Max leaf nodes: 5 	 Mean Absolute Error: 491
Max leaf nodes: 50 	 Mean Absolute Error: 79
Max leaf nodes: 500 	 Mean Absolute Error: 13
Max leaf nodes: 5000 	 Mean Absolute Error: 9

In [30]:
from sklearn.ensemble import RandomForestRegressor

In [31]:
rf_model = RandomForestRegressor(n_estimators=100, random_state=1)
rf_model.fit(X_train, y_train)
y_hat = rf_model.predict(X_test)
print(f'Mean Absolute Error: {int(mean_absolute_error(y_test, y_hat))}')

Mean Absolute Error: 6